<web-app>
  <display-name>
    Project 4
  </display-name>
  <description>
    A Three-Tier Distributed Web-Based Application
  </description>

  <servlet>
    <servlet-name>DBServlet</servlet-name>
    <description>
        DB Handling Servlet
    </description>
    <servlet-class>DBServlet</servlet-class>
    <init-param>
     <param-name>driver</param-name>
     <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
     <param-name>dbname</param-name>
     <param-value>jdbc:mysql://10.0.2.178:3306/project4</param-value>
    </init-param>
    <init-param>
      <param-name>dbuser</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>dbpass</param-name>
      <param-value>c16a0a2599b354e6de362602a55462cb</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>DBServlet</servlet-name>
    <url-pattern>/exec</url-pattern>
  </servlet-mapping>
</web-app>
